<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <appSettings>
        <add key="LoginURL" value="http://db.ziya.gov.cn/api/login"/>
        <add key="NotificationURL" value="http://db.ziya.gov.cn/api/notifications"/>
        <add key="MessageTargetURL" value="http://news.ziya.gov.cn/"/>
        <add key="MessageTitle" value="「您有一条短消息」"/>
        <add key="SyncIntervalInSeconds" value="120"/>
        <add key="AutoCloseTimeInSeconds" value="60"/>
    </appSettings>
</configuration>
